{
    "rules": {
        "indentation": 4,
        "string-quotes": "single",
        "declaration-colon-space-before": "never",
        "declaration-colon-space-after": "always",
        "rule-empty-line-before": "always",
        "media-feature-range-operator-space-before": "never",
        "media-feature-range-operator-space-after": "never",
        "media-feature-colon-space-before": "never",
        "media-feature-colon-space-after": "never"
    }
}
